* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", "Poppin", sans-serif;
}

body,
html,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
figure {
  margin: 0;
  padding: 0;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  min-height: 100vh;
}
