@use "../abstracts/keyframes";

.home__main {
    background-image: url('/assets/images/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition:  ease-in-out;
    animation: fade-in-background 1.5s ease-in-out forwards;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    

    button {
        align-self: center;
    }


}

