.log {

    &__main {
        background-image: url("/assets/images/bg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: ease-in-out;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: rgba($color: #000000, $alpha: 0.5);
        background-blend-mode: color;
       
        
    }
}
form{

    animation: show-up 2s ease-in-out forwards;
}



.title-login {
    color: white;
    font-size: 30px;
}

