@use "../../abstracts/keyframes";


.logo {    

    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    opacity: 0;
    animation: move-to-center 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;

}
