@use "../../abstracts/keyframes";

.logo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  opacity: 1;
  // animation: move-to-center 3s ease-in-out forwards;
  animation: curve-movement 3s ease-in-out forwards;
}
